[access]
	inheritFrom = All-Projects
[project]
	description = SDC base docker creation project
[submit]
	action = rebase if necessary
[access "refs/*"]
	owner = group ldap/onap-gerrit-sdc-sdc-docker-base-committers
	read = group GitHub Replication
[allowSuperproject "doc"]
	matching = refs/heads/beijing:refs/heads/2.0.0-ONAP
	matching = refs/heads/beijing:refs/heads/beijing
